#clear{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Navbar-right{
    padding-top: 20px;
    right: 200px;
    position: absolute;
    #margin-left: 400px;
}
#logo-img{
    left: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li{
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    font-size: large;
    padding-bottom: 5px;
}
#feat{
    background-color: rgb(192, 248, 248);
}

.logo{
    width: 100px;
    height: 50px;
    border-style: 2px solid black;
    margin-left: 20px;
}
.container-box{
    border-style: solid;
    width: 100%;
}
#property-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.text{
    display: block;
    text-align: center;
}
.photo{
    background-image: url('F:\Intern-project\Innomatics\Week-1\Assigment-1\Images\div.png');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.crypto{
    text-align: center;
}
.row{
    margin: auto;
    width: 95%;
    
    padding: 10px;
}
.feet{
    border-top-style: 1px solid rgb(30, 66, 195);
}
.foot-img{
    width: 100px;
    height: 50px;
    border-style: 2px solid black;
    margin-left: 20px;
}